p{
    margin: 5px;
    text-align: end;
    color: #fff;
    font-size: 22px;
}
.header{
    font-size: 40px;
    color: black;
}

.data-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
}

.card-mini{
    width: 18%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #85144B;
    border-radius: 5%;
    margin: 10px;
}

.cenried{
    display: flex;
    align-items: center;
    justify-content: space-between;
}